/* .App {
    text-align: center;  
    padding: 12px;
    width: 428px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #0e0a5f;
    z-index: 2;
    height: auto;
} */
