.categories-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}
.categories {
  width: calc(100% - 40px);
  white-space: nowrap;
  transition: all 0.2s;
  user-select: none;
  cursor: pointer;
  border-right: 1px solid #282D93;
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 0 8px 8px 0;
  margin-left: -12px;
  display: flex;
}
.swiper-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 8px;
  padding: 0;
  overflow-x: auto;
  border-right: 0 solid #282D93;
  margin-left: 0;
}
.swiper-container::-webkit-scrollbar {
  width: 10px; /* Remove scrollbar width */
  height: 10px; /* Remove scrollbar height */
}
.swiper-wrapper {
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
}
.category-link {
  border-bottom: 0 solid #F5F6FF;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  color: #A6B7E5;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.6s;
  border-radius: 8px;
  border: 1px solid #282D93;
  text-decoration: none;
}
.category-link:hover {
  color: #a6b7e5; /* Change the color to match the default text color */
  background-color: transparent; /* Set the background color to transparent */
}
.category-link.active {
  background: #F27C2C;
  color: #fff;
}
.search {
  background: #070255;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 6px;
  cursor: pointer;
}
.swiper-slide {
  padding: 0 3px;
}