.logo {
    width: calc(100% + 24px);
    height: 14px;
    padding: 8px 16px 8px 14px;
    top: 0;
    z-index: 2;
 
}

.lottie {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    background: #0e0a5f;
    border-radius: 28px;
    padding: 8px;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
}

.coin {
    width: auto;
    min-width: 80px;
    padding: 1px 16px 4px 8px;
    height: 32px;
    background: #080456;
    border-radius: 24px;
}
