.bg {
  background: #272c93 url(https://images.atmequiz.com/img/tiger.png) no-repeat
    right 4px bottom 4px;
  padding-left: 24px;
  padding-top: 10px;
}

.offcanvas {
  background: rgba(0, 0, 0, 0.7);
}

.offcanvas-Header {
  background: #272c93;
  margin-top: -8px;
  padding-top: 20px;
  flex-direction: column;
  text-align: center;
}
.off .user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.header_userDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
  min-width: 150px;
  margin-right: 4px;
  max-height: 20px;
  overflow: hidden;
  margin-bottom: 1px;
}

.header_contenteditable {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1px;
}

.header_btn {
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
  // font-weight: 600;
  text-shadow: 0 1px 0 #fc8c1b;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 4px;
  border-radius: 50px;
  height: 25px;
  width: 80px;
}

.header_b {
  background: #fc8c1b;
  // padding: 16px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  // width: 100%;
  // line-height: 100%;
  display: flex;
  justify-content: center;
  // border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.menu_items {
  display: flex;
  flex-wrap: wrap;
}

.nav_items {
  width: 100%;
  // padding: 10px 24px;
  color: #ffffffba;
  display: flex;
  align-items: center;
}
.nav_icon {
  margin-right: 16px;
  display: inline-block;
  background: #0e0a5f;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offcanvas_connect {
  display: flex;
  flex-wrap: wrap;
  // font-size: 14px;
  margin-top: 24px;
}

.contact_text {
  font-size: 16px;
  font-weight: 500;
}

.contact_wrap {
  width: 100%;
  display: flex;
}

.contact_icon_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 8px;
  border: 1px solid #4248b2;
  border-radius: 8px;
  margin: 12px 16px 8px 0;
  text-align: center;
}
