@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif; /* Apply Poppins font to all elements */
}
.box-c1 {
  background: #1F237E;
  width: 100%;
  padding: 16px;
  position: relative;
  padding: 12px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: auto;
}
.search_wrapper {
  width: 100%;
}
.search_searchHeader {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.search_back {
  margin-right: 12px;
  cursor: pointer;
  background: #070255a8;
  height: 42px;
  width: 42px;
  border-radius: 50px;
  padding: 6px;
}
.search_input {
  width: 100%;
  position: relative;
}
.search_input_1 {
  border-radius: 90px;
  border: 1px solid #e3e5e8;
  background: #fff url(https://images.atmequiz.com/img/searcg_gray.svg)
    no-repeat top 11px left 18px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  height: 46px;
  padding: 0 50px;
  width: 100%;
  outline: none;
}
.close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
.search_category {
  padding: 0;
  margin-left: -16px;
  width: calc(100% + 32px);
}
.ull {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}
.ull::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.l:first-child {
  margin-left: 16px;
}
.l:not(:first-child) {
  margin-left: 12px;
}
.l {
  width: 76px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.search__boxxx {
  border-radius: 16px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  margin-left: -10px;
}
.c {
  font-size: 12px;
  padding-top: 8px;
  line-height: 16px;
  display: inline-block;
  color: white;
  margin-left: -17px;
}
.search_gameList {
  padding: 0px;
}
.search_listingHeader {
  margin-top: 30px;
  margin-bottom: 16px;
}
.h {
  color: rgba(241, 238, 255, 0.84);
  font-size: 22px;
}
.pa {
  color: hsla(0, 0%, 100%, 0.64);
  font-size: 16px;
  line-height: 18px;
}
.uli {
  overflow-y: scroll;
  max-height: 50vh;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.uli::-webkit-scrollbar {
  width: 10px;
  border-radius: 4px;
}
.uli::-webkit-scrollbar-thumb {
  background-color: #a6b7e5;
  border-radius: 4px;
  height: 35px;
}
.uli::-webkit-scrollbar-track {
  background: #070255a8;
  border-radius: 4px;
}
.aa {
  display: flex;
  border-bottom: 1px solid rgba(178, 222, 225, 0.16);
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
}
.search_box {
  border-radius: 12px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}
.search_quizTxt {
  margin-left: 16px;
}
.hh {
  font-size: 15px;
  color: #fff;
  padding-top: 4px;
  text-decoration: none;
}
.pp {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  margin-top: 4px;
  text-decoration: none;
}